{% extends "template.html" %}
{% block title %}ליאת ויוני - הוסיפו לקלנדר{% endblock %}
{% block content %}
		<div class="post">
			<h2 class="title">לחצו על האייקון המתאים כדי להוסיף לקלנדר שלכם</h2>
			<div class="entry">
                <ul style="color: black;">
                    <li>לוח שנה של גוגל:
                        <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=%D7%94%D7%97%D7%AA%D7%95%D7%A0%D7%94%20%D7%A9%D7%9C%20%D7%9C%D7%99%D7%90%D7%AA%20%D7%95%D7%99%D7%95%D7%A0%D7%99&dates=20120912T163000Z/20120913T000000Z&details=&location=%D7%A2%D7%93%D7%9F%20%D7%A2%D7%9C%20%D7%94%D7%9E%D7%99%D7%9D%20(%D7%A7%D7%99%D7%91%D7%95%D7%A5%20%D7%A0%D7%99%D7%A8%20%D7%90%D7%9C%D7%99%D7%94%D7%95)&trp=false&sprop=www.liatyoni.com&sprop=name:" target="_blank">
                    <img src="/static/images/google-calendar.png" border=0 style="height: 64px; vertical-align: middle;"></a>
                    <li>אאוטלוק/אייפון:
                        <a href="/static/liatyoni.ics"><img src="/static/images/iCal.png" style="height: 64px; vertical-align: middle;"></a><br>
			</div>
			<p class="meta"></p>
		</div>
{% endblock %}
