{% extends "template.html" %}
{% block title %}ליאת ויוני - איוונט בפייסבוק{% endblock %}
{% block content %}
		<div class="post">
			<h2 class="title">איוונט בפייסבוק (שמרו על קשר)</h2>
			<div class="entry">
                <p>לצרכי שמירה על קשר וסידור טרמפים, החלטנו גם ליצור עבורכם איוונט בפייסבוק:</p>
                <p><a href="http://www.facebook.com/events/109984945816332/"><img src="http://wentworthgardens.net/mod/cms/images/FB%20Events%20image.jpg"></a></p>
                <p>
                הרשאות הצפייה הם למוזמנים בלבד.<br>
                אם חלה טעות ולא קיבלתם הזמנה לאיוונט, אתם מוזמנים לפנות ליוני, ליאת, או להורים בעלי הפייסבוק כדי שיזמינו אתכם.
                </p>
			</div>
			<p class="meta"></p>
		</div>
{% endblock %}
