{% extends "template.html" %}
{% block title %}ליאת ויוני - מפת הגעה{% endblock %}
{% block content %}
		<div class="post">
			<h2 class="title">מפת הגעה</h2>
			<div class="entry">
<!--			<img src="http://maps.googleapis.com/maps/api/staticmap?center=ניר+אליהו&zoom=12&size=400x200&maptype=roadmap&markers=color:blue%7Clabel:Wedding%7C40.702147,-74.015794&sensor=false"> -->
                <a href="http://goo.gl/maps/PPe0q"><img src="http://www.gan-eden.co.il/UserFiles/Image/map.gif"></a><br>
                <span style="font-size: 10px">לחצו על התמונה לקבלת מפה מוגדלת</span>
			</div>
			<p class="meta"></p>
		</div>
{% endblock %}
