{% extends "template.html" %}
{% block title %}ליאת ויוני - תמונות{% endblock %}
{% block content %}
		<div class="post">
			<h2 class="title">תמונות</h2>
			<div class="entry">
                <p>
                לצורך תיעוד אינטראקטיבי של החתונה, בחרנו להשתמש ב- WedPics. מעין אינסטגרם לחתונות...<br>
                <a href="http://www.wedpics.com/album/#OTk0MQ==" style="font-weight: bold"><img src="static/images/WedPics_card_front.jpeg"></a>
                </p>
                <p>
                אנחנו זקוקים לעזרתכם.<br>
                אנא הורידו את האפליקציה, והגיעו איתה לחתונה, כדי שתוכלו להעלות ולראות תמונות בלייב!
                <p>
                <p>
                    <a href="http://itunes.apple.com/us/app/wedpics/id549402355?ls=1&mt=8" style="text-decoration: none">
                        <img src="http://www.ibreviary.com/new/images/app_store_badge.png" style="height: 60px">
                    </a>
                    &nbsp;
                    <a href="https://play.google.com/store/apps/details?id=com.dejami.WedPics&feature=nav_result#?t=W251bGwsMSwyLDNd">
                        <img src="http://www.android.com/images/brand/android_app_on_play_logo_large.png">
                    </a>
                </p>
                <p>
                קוד החתונה הוא: <span style="color: black; font-weight: bolder">LiatYoni</span>
                </p>
                לצפייה באלבום והעלאת תמונות מהדפדפן, <a href="http://www.wedpics.com/album/#OTk0MQ==" style="font-weight: bold">לחצו כאן</a>
			</div>
			<p class="meta"></p>
		</div>
{% endblock %}
