{% extends "template.html" %}
{% block title %}ליאת ויוני - אשרו הגעה{% endblock %}
{% block content %}
		<div class="post">
			<h2 class="title">טופס אישור הגעה</h2>
			<div class="entry">
                <form id="form1" name="form1" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
                    action="https://liatyoni.wufoo.com/forms/z7x3x5/#public">

                    <ul>

                        <li id="foli16" class="notranslate      ">
                        <label class="desc" id="title16" for="Field16">
                            שם מלא
                            <span id="req_16" class="req">*</span>
                        </label>
                        <div>
                            <input id="Field16" name="Field16" type="text" class="field text small" value="" maxlength="255" tabindex="1" onkeyup="" required />
                        </div>
                        </li><li id="foli5" class="notranslate      ">
                        <fieldset>
                            <![if !IE | (gte IE 8)]>
                            <legend id="title5" class="desc">
                                סטטוס הגעה
                                <span id="req_5" class="req">*</span>
                            </legend>
                            <![endif]>
                            <!--[if lt IE 8]>
                            <label id="title5" class="desc">
                                סטטוס הגעה
                                <span id="req_5" class="req">*</span>
                            </label>
                            <![endif]-->
                            <div>
                                <input id="radioDefault_5" name="Field5" type="hidden" value="" />
                                <span>
                                    <input id="Field5_0" name="Field5" type="radio" class="field radio" value="מגיעים" tabindex="2" checked="checked"  
                                    required />
                                    <label class="choice" for="Field5_0" >
                                        מגיעים</label>
                                </span>
                                <span>
                                    <input id="Field5_1" name="Field5" type="radio" class="field radio" value="לא מגיעים" tabindex="3" required />
                                    <label class="choice" for="Field5_1" >
                                        לא מגיעים</label>
                                </span>
                            </div>
                        </fieldset>
                        </li><li id="foli6" class="notranslate      ">
                        <label class="desc " id="title6" for="Field6">
                            מספר האורחים
                            <span id="req_6" class="req">*</span>
                        </label>
                        <div>
                            <input id="Field6" name="Field6" type="text" class="field text nospin small"  value="" min="1" max="10" maxlength="255" tabindex="4" onkeyup="validateRange(6, 'value');" required />
                        </div>
                        </li><li id="foli4" class="notranslate      ">
                        <label class="desc" id="title4" for="Field4">
                            טלפון
                            <span id="req_4" class="req">*</span>
                        </label>
                        <div>
                            <input id="Field4" class="field text medium" name="Field4" tabindex="5" required  
                            type="tel" maxlength="255" value="" /> 
                        </div>
                        </li><li id="foli19" class="notranslate      ">
                        <label class="desc" id="title19" for="Field19">
                            אימייל (לקבלת עדכונים)
                        </label>
                        <div>
                            <input id="Field19" name="Field19" type="email" spellcheck="false" class="field text small" value="" maxlength="255" tabindex="6" /> 
                        </div>
                        </li>
                        <li id="foli20" class="notranslate      ">
                        <label class="desc" id="title20" for="Field20">
                            שיר שתרצו לשמוע בחתונה
                        </label>
                        <div>
                            <input id="Field20" name="Field20" type="text" class="field text medium" value="" maxlength="255" tabindex="7" onkeyup="" />
                        </div>
                        </li><li id="foli7" 
                        class="notranslate      "><label class="desc" id="title7" for="Field7">
                            הערות, התנצלויות או בקשות מיוחדות
                        </label>

                        <div>
                            <textarea id="Field7" 
                                name="Field7" 
                                class="field textarea small" 
                                spellcheck="true" 
                                rows="10" cols="50" 
                                tabindex="8" 
                                onkeyup=""
                                ></textarea>

                        </div>
                        </li> <li class="buttons ">
                        <div>

                            <input id="saveForm" name="saveForm" class="btTxt submit" 
                            type="submit" value="שלח"
                            /></div>
                        </li>

                        <li class="hide">
                        <label for="comment">Do Not Fill This Out</label>
                        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                        <input type="hidden" id="idstamp" name="idstamp" value="Uz/cOl1nwK1wazGHhj1f3JvxJEWvahsWwT6zhvkRUhY=" />
                        </li>
                    </ul>
                </form> 
			</div>
			<p class="meta"></p>
		</div>
{% endblock %}
