{% extends "template.html" %}
{% block title %}ליאת ויוני - סידור טרמפים{% endblock %}
{% block content %}
		<div class="post">
			<h2 class="title">סידור טרמפים</h2>
			<div class="entry">
                <p>כדי להתארגן על טרמפ, אנחנו ממליצים לכם להתחבר עם פייסבוק למערכת yallabo.</p>
                <p><a href="http://yallabo.co.il/search/events?eid=1965709077"><img src="http://yallabo.co.il/img/site3/yb-logo.png"></a></p>
                עמוד הטרמפים של החתונה נמצא <a href="http://yallabo.co.il/search/events?eid=1965709077">כאן</a><br>
                אם אתם לא מצליחים לראות את העמוד, ודאו שקיבלתם הזמנה ל<a href="/fbevent">איוונט בפייסבוק</a>
			</div>
			<p class="meta"></p>
		</div>
{% endblock %}
